*{
    margin: 0;
}

body {
  display: grid;
  color: black;
  
  grid-template-columns: repeat(4, minmax(10vh, 1fr));
  grid-template-rows: repeat(4, 100px);

  grid-template-areas: 
  "header header nav nav"
  "main main aside aside"
  "main main aside aside"
  "footer footer footer footer";
}

header{
    grid-area: header;
    background-color: #f3f0ff;
}

nav {
    grid-area: nav;
    background-color: #d0bfff
}

main {
    grid-area: main;
    background-color: #96f2d7;
}

aside{
    grid-area: aside;
    background-color: #e3fafc ;
}

footer {
    grid-area: footer;
    background-color: #f1c5f4;
    display: grid-inline;
}

