* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
}

.container {
    margin: 3vh 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    border: 1px solid purple;
    flex-wrap: wrap;
}

/* Upper section sub elements */

/* Nav and header alignment */

nav, header {
    height: 45px;
    flex: 2 1 auto;
    display: flex;
}

/* Nav styling */
nav {
    background-color: #38332F ;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 3px solid black;
}


nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 10vw;
    
}


nav a:link {
    
    text-decoration: none;
    color: white;

}

/* Header styling */

header {
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 1px solid black;
    
    

}

header h1 {
    display: none;

}

header img {
    width: auto;
    height: 1.7vh;
    
}

/*MAIN SECTION */

/* Promotional article */

#promotional_sec {
    margin: 3vh 5vh;
    width: auto;
    height: 40vh;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    
}

#promotional_img_container {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-image: url(/images/mangata_pictures/retrato-de-hermosa-dama-rubia-con-elegante-vestido-de-seda-blanco-chaqueta-cuadros-y-collar-de-perlas-tocando-suavemente-el-cuello-y-posando-en-la-plaza-de-la-ciudad.jpg);
    background-size: cover;
    background-position: center;
    
    
}

#promotional_sec .over_text_container {
    top: 0; /* This one move it to the top */
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

/* Sub Promotional articles */

#products {
    margin: 3vh 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 5%;
}

#products article {
    width: 30%;
    height: 35vh;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50px;

}

#products article:nth-of-type(1) {
    background-image: url(/images/mangata_pictures/anillo-de-oro-caro-con-fondo-de-polvo-blanco\ \(2\).jpg);
    background-position: center;
    background-size: cover;
}
#products article:nth-of-type(2) {
    background-image: url(/images/mangata_pictures/hermoso-anillo-de-compromiso-con-diamantes.jpg);
    background-position: center;
    background-size: cover;
}
#products article:nth-of-type(3) {
    background-image: url(/images/mangata_pictures/anillo-de-oro-caro-que-se-muestra-sobre-fondo-de-coral-blanco.jpg);
    background-position: center;
    background-size: cover;
}


#products img {
    
    height: 100%;
}

/*FOOTER SECTION */
footer {
    margin: 3vh 5vh;
    display: flex;
    gap: 2vh;
    justify-content: center;
    align-items: center;

}

footer div{
    height: 45px;
    background-color: #38332F ;
    opacity: 50%;
}

.aesthetic_circles {
    width: 5vw;
    border-radius: 50px;
}

.footer_information {
   width: 500px;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
 
}