
.App {
  text-align: center;

}

.card_template {
  background-color: black;
  color: white;
  margin: 80px;
  border-radius: 50px;
  border: 6px solid white ;
  
}

.random_num {
  color: rgb(152, 185, 187);
}