.flex_container {
    border: 0.1vh solid aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.divs {
    width: 100px;
    height: 50px;
    background-color: aliceblue;
}
