body{
    background-color: black;
    margin: auto;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh ;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 30vh;
    border: 1px solid white;
    border-radius: 10px;   
    
}

.parent label {
    color: white;
    margin-bottom: 1vh;
    margin-top: 2vh;
    margin-left: 5vh;
    align-self: flex-start;
 }


 .parent input:focus {
    background-color: #101110;
    color: gray;
    height: 5vh;
    width: 30vh;
    font-size: 20px;
    outline: none;
    border: 2px solid gray
}
