nav {
    background-color: rgba(18, 18, 18, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh 10vh;
    font-size: 2.5vh;
    gap: 5vw;
    padding: 5px;
    flex-wrap: wrap;
    border-radius: 30px;
    box-shadow: 5px 5px rgba(18, 18, 18, 10%);
}

nav a:link {
    color: white;
    text-decoration: none;
    
}
nav ul {
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    max-height: 3vh;
    
}

nav li {
    list-style-type: none;
    margin: 0px;
}
nav .email {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    flex: 2 1 auto;
}

nav img {
    width: 3vh;
    height: 3vh;
}

nav .logo {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    flex: 1 1 6vh;
    max-width: 6vh;
    
}

.email, nav > .logo {
    height: 6vh;
}

a:hover {
    font-size: 3vh ;
}