body{
    background-color: #3c3c3a;
}
form {
    display: flex;
    background-color: #868685;
    justify-content: center;
    align-items: center;
    margin: 10vh 5vh;
    border: 0.5px solid rgb(187, 183, 183);
    padding: 5px;


}

.icon {
    height:3vh;
}
.left_buttons_container {
    display: flex;
    justify-content: center;

}