.parent{
    display: grid;
    background-color: aliceblue;
    border: 1px solid black;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 10px 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;




    grid-auto-flow: column;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;

}

#text1 {
    grid-row: 1 / 3;
    grid-column: 2 / 4;
}